@model PracticeDemo.Areas.EmployeeArea.Models.EmployeeModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div >
    <h4>EmployeeModel</h4>
    <hr />
  
    <dl class="row border border-primary">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qualification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmlpoyeeTeamId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmlpoyeeTeamId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id  },new{@class="w-20 btn btn-primary bi bi-pencil-square"}) |
    <a asp-action="Index" asp-controller="Employees" asp-area="EmployeeArea" class=" btn btn-outline-success  bi bi-skip-backward-fill w-25"></a>
</div>
